[Unit]
Description=Autonomi Network Node (ant-node)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=alchemical1
ExecStart=/home/zero-tech/zknode-autonomi/data/antd/node-1/bin/antnode \
  --root-dir /tmp/ant-host \
  --port 12000 \
  --rewards-address 0xf21CEFD6773491323B05162f62bE5106B27893aa \
  --log-output-dest /tmp/ant-host/ant-node.log \
  --no-upnp \
  evm-arbitrum-one
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
