[Unit]
Description=zknode daily backup
Documentation=https://github.com/ethrx-dev/zknode-autonomi-alpha

[Service]
Type=oneshot
ExecStart=/home/<node-user>/zknode-autonomi/scripts/backup/zknode-backup.sh daily
User=<node-user>
Group=<node-user>
